<div id="review1" class="review-handlebars">

  {{#each reviewsPumpkin}}
    <div class="inner-review-div">
      <p>{{review}}</p>
      <li>{{username}}</li>

    </div>
  {{/each}}

</div>

<div id="review2" class="review-handlebars">

  {{#each reviewsReeses}}
    <div class="inner-review-div">
      <p>{{review}}</p>
      <li>{{username}}</li>

    </div>
  {{/each}}

</div>

<div id="review3" class="review-handlebars">

  {{#each reviewsSkeleton}}
    <div class="inner-review-div">
      <p>{{review}}</p>
      <li>{{username}}</li>

    </div>
  {{/each}}

</div>

<div id="review4" class="review-handlebars">

  {{#each reviewsWitchesHat}}
    <div class="inner-review-div">
      <p>{{review}}</p>
      <li>{{username}}</li>

    </div>
  {{/each}}

</div>