<section class="onePage-header">
  <h2>Holidays</h2>
  <button id="seasonsButton" class="btn btn-primary">Return to Homepage</button>
</section>

{{#if (check_equality season "fall")}}
  {{#each items as |item|}}
    <div>{{items}}</div>
    <div class="card" style="">
      <img
        class="card-img-top"
        src="/images/{{item.filename}}"
        alt="database image"
      />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <h4>Reviews</h4>
        {{#each item.reviews as |review|}}
            <li class="list-group-item">
                </p>
                    {{review.username}}:
                <p>
                    {{review.review}}
                <p></p>  
            </li>
        {{/each}}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {{/each}}

{{else if (check_equality season "winter")}}
  {{#each items as |item|}}
    <div>{{items}}</div>
    <div class="card" style="">
      <img
        class="card-img-top"
        src="/images/{{item.filename}}"
        alt="database image"
      />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <h4>Reviews</h4>
        {{#each item.reviews as |review|}}
            <li class="list-group-item">
                </p>
                    {{review.username}}:
                <p>
                    {{review.review}}
                <p></p>  
            </li>
        {{/each}}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {{/each}}
{{else if (check_equality season "spring")}}
  {{#each items as |item|}}
    <div>{{items}}</div>
    <div class="card" style="">
      <img
        class="card-img-top"
        src="/images/{{item.filename}}"
        alt="database image"
      />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <h4>Reviews</h4>
        {{#each item.reviews as |review|}}
            <li class="list-group-item">
                </p>
                    {{review.username}}:
                <p>
                    {{review.review}}
                <p></p>  
            </li>
        {{/each}}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {{/each}}
{{else if (check_equality season "summer")}}
  {{#each items as |item|}}
    <div>{{items}}</div>
    <div class="card" style="">
      <img
        class="card-img-top"
        src="/images/{{item.filename}}"
        alt="database image"
      />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <h4>Reviews</h4>
        {{#each item.reviews as |review|}}
            <li class="list-group-item">
                </p>
                    {{review.username}}:
                <p>
                    {{review.review}}
                <p></p>  
            </li>
        {{/each}}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  {{/each}}
{{/if}}