<div class="container mt-5">
  <h1 class="mb-4">Welcome to your Portal</h1>
  <div class="mb-3">
    <a href="/user/{{user.id}}" class="btn btn-primary">Click to see your
      reviews</a>
  </div>

  <div>
    {{#each reviews}}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">{{this.item.name}}</h5>
          <p class="card-text">{{this.review}}</p>
          <p class="card-text"><small class="text-muted">Posted on
              {{this.createdAt}}</small></p>

          <!-- Update form (initially hidden) -->
          <div
            id="update-form-{{this.id}}"
            class="update-form"
            style="display:none;"
          >
            <form data-id="{{this.id}}">

              <div class="form-group">
                <label for="review-text-{{this.id}}">Review</label>
                <textarea
                  class="form-control"
                  id="review-text-{{this.id}}"
                  rows="3"
                  required
                >{{this.review}}</textarea>
              </div>
              <button type="submit" class="btn btn-success">Submit Update</button>
              <button
                type="button"
                class="btn btn-secondary cancel-update"
              >Cancel</button>
            </form>
          </div>

          <!-- Update button -->
          <button
            data-id="{{this.id}}"
            class="btn btn-warning updateButton"
          >Update</button>

          <!-- Delete button -->
          <button
            data-id="{{this.id}}"
            class="deleteButton btn btn-danger"
          >Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/delete.js"></script>
